{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login - EMS{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0"><i class="bi bi-box-arrow-in-right"></i> Login</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100 mt-3">
                        <i class="bi bi-key"></i> Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}